/* ==========================================================================
   #Heights
   ========================================================================= */
.h {
    &--auto {
        height: auto;
    }

    &--full {
        height: 100%;
    }

    &--half {
        height: 50%;
    }

    &-pc {
        @include bp('pc') {
            &--auto {
                height: auto;
            }

            &--full {
                height: 100%;
            }

            &--half {
                height: 50%;
            }
        }
    }

    &-sp {
        @include bp('sp') {
            &--auto {
                height: auto;
            }

            &--full {
                height: 100%;
            }

            &--half {
                height: 50%;
            }
        }
    }
}