/* ==========================================================================
   #Width
   ========================================================================== */
.w {
    &--auto {
        width: auto;
    }

    &--full {
        width: 100%;
    }

    &--half {
        width: 50%;
    }

    &-pc {
        @include bp('pc') {
            &--auto {
                width: auto;
            }

            &--full {
                width: 100%;
            }

            &--half {
                width: 50%;
            }
        }
    }

    &-sp {
        @include bp('sp') {
            &--auto {
                width: auto;
            }

            &--full {
                width: 100%;
            }

            &--half {
                width: 50%;
            }
        }
    }
}