<!DOCTYPE>
<html lang="en">

<head>
    <title>@@title</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <!-- ======== FAVICON ======== -->
    <link rel="shortcut icon" href="images/favicon.svg" />
    <!-- ======== STYLES ======== -->
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.min.css" />
    <link rel="stylesheet" type="text/css" href="libs/select2/select2.css" />
    <!-- build:css css/main.min.css -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <!-- endbuild -->
</head>

<body>
    <header id="header" class="header">
        <p>Header</p>
    </header>
    <!-- END HEADER -->